*{
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono";
    background-color: #E9E0D2;
}

header{
    width: 100%;
    height: 50px;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    color: white;
    font-size: 50px;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input{
    width: 50%;
    background-color: white;
    height: 50px;
    padding: 30px;
    font-size: 30px;
}

button{
    padding: 15px;
    margin: 10px;
    background-color: black;
    color: white;
    height: 100px;
    width: 30%;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    cursor: pointer;
}

label{
    font-size: larger;
    margin: 10px;
}

#result{
    font-size: 30px;
    margin: 30px;
}